html {
  scroll-behavior: smooth;
}

body {
  margin:0px;
  padding:0px;
  width: 1020px;
}

header{
  width: 1020px;
  height: 89px;
  position: fixed;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  background-color: #2d303a;
}

section {
  position: relative;
  top: 95px;
  display: flex;
}

.header h1 {
  margin: 23px 0px auto 40px;
  padding: 0px;
  font-family: "Lato","Bold";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.7;
  color: #ffffff;
}

ul.header-menu {
  margin: 40px 40px auto auto;
  width: 385px;
  display: inline-flex;
  justify-content: flex-end;
  list-style-type: none;
}

.header-menu li {
  margin-left: auto;
  font-family: "Lato","Bold";
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  text-align: justify;
  color: #ffffff;
}

li.hm-names.active {
  color: #f06c64;
}

.header-menu li.hm-names:hover {
  color: #f06c64;
}

li.middot {
  color: #494e62;
}

.partitioning {
  position: relative;
  top: 95px;
}

.slider {
  width: 1020px;
  height: 594px;
  justify-content: center;
  overflow: hidden;
}

.slider_screen1 {
  width: 1020px;
  height: 594px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: #f06c64;
}

.slider_screen2 {
  width: 1020px;
  height: 600px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: #648BF0;
}


svg.arrow {
  padding: 0px;
  position: static;
  stroke: #ca4549;
}

svg.arrow:hover {
  stroke: #ca262c7a;
}

.iphone {
  margin: 53px 98px auto 10px ;
  padding: 0px;
  width: 216px;
  height: 459px;
  border: none;
  box-shadow: 25px 24px #33191930;
  border-radius: 27px;
}

.phone {
  position: absolute;
  z-index: 1;
}

.screen-img {
  margin: 65px 0px 0px 15px ;
  width: 188px;
  height: 333px;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

.phone1 {
  background-image: url(assets/singolo1/yellow-iphone.svg);
  background-position: -14px -135px;
}

.phone2 {
  background-image: url(assets/singolo1/blue-iphone.svg);
  background-position: -119px -122px;
}

.horizontal {
  margin: 52px 80px auto 78px;
  transform: rotate(90deg);
  border-radius: 27px;
  box-shadow: 25px -26px #33191930;
}

.services {
  width: 1020px;
  height: 494px;
  flex-direction: column;
  background-color: #f2f2f2;
}

.services h2 {
  margin: 52px auto auto 40px;
  font-family: "Lato", "Black";
  font-size: 30px;
  font-weight: 900;
  line-height: 1.7;
  color: #666d89;
}

p.services-head {
  margin: 10px 40px auto 40px;
  font-family: "Lato","Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  color: #767e9e;
}

ul.services-descr {
  margin: 46px 40px auto 0px;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

li.services-item {
  margin: auto;
  padding-bottom: 19px;
  flex-basis: 300px;
  display: flex;
  font-family: "Lato", "Regular";
  font-size: 12px;
  text-align: justify;
  color: #767e9e;
}

.icon {
  margin: 0px;
  width: 61px;
  height: 61px;
  overflow: hidden;
  position: absolute;
  background-image: url(assets/singolo1/icons.svg);
}

.pen {
  background-position: left top;
}

.bulb {
  background-position: 123px top;
}

.heart {
  background-position: 61px top;
}

.phone {
  background-position: left bottom;
}

.bubble {
  background-position: 124px bottom;
}

.star {
  background-position: 62px bottom;
}

.descr {
  margin: 4px auto auto 80px;
  height: 100px;
  font-family: "Lato", "Regular";
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  text-overflow: clip;
}

h3 {
  padding: 0px 0px 0px 0px;
  margin: -7px 0px -5px;
  font-family: "Lato","Black";
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
}

.descr p{
  width: 210px;
  height: 90px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

.portfolio {
  padding: 27px 40px 0px 40px;
  height: 836px;
  flex-direction: column;
  background-color: #2d303a;
  color: #666d89;
}

.portfolio h1 {
  padding-bottom: 0px;
  font-family: "Lato", "Black";
  font-size: 30px;
  font-weight: 900;
  line-height: 1.7;
}

.portfolio p {
  margin-top: -15px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 870px;
  font-family: "Lato","Light";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  text-align: justify;
}

ul.portfolio-menu {
  margin-top: 11px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  display: inline-flex;
  list-style-type: none;
}

.portfolio-menu li {
  margin: 0px 10px 0px 0px;
  padding: 1px 6px 1px;
  font-family: "Lato", "Regular";
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.012em;
  border: 1px solid #666d89;
  border-radius: 5px;
}

.portfolio-menu li:hover {
  color: #dedede;
  border-color: #dedede;
}

.portfolio-menu li.active {
  color: #dedede;
  border-color: #dedede;
}

.portfolio-pictures {
  margin-top: 3px;
  width: 950px;
  height: 650px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  overflow: hidden;
}

.portfolio-img {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
  height: 187px;
  overflow: hidden;
}

.portfolio-img.active{
  width: 210px;
  height: 177px;
  border:5px solid  #F06C64;
}

 .first-img {
  background-position: -8px -11px;
  background-image: url(assets/singolo2/first.png);
}

.second-img {
  background-position: -10px -16px;
  background-image: url(assets/singolo2/second.png);
}

.third-img {
  background-position: -16px -2px;
  background-image: url(assets/singolo2/third.png);
}

.fourth-img {
  background-position: -82px -43px;
  background-image: url(assets/singolo2/fourth.png);
}

.fifth-img {
  background-position: -16px -4px;
  background-image: url(assets/singolo2/fifth.png);
}

.six-img {
  background-position: -141px -113px;
  background-image: url(assets/singolo2/six.png);
}

.seven-img {
  background-position: -11px -1px;
  background-image: url(assets/singolo2/seven.png);
}

.eight-img {
  background-position: -31px -39px;
  background-image: url(assets/singolo2/eight.png);
}

.nine-img {
  background-position: -144px -175px;
  background-image: url(assets/singolo2/nine.png);
}

.ten-img {
  background-position: -24px -2px;
  background-image: url(assets/singolo2/ten.png);
}

.eleven-img {
  background-position: -24px -32px;
  background-image: url(assets/singolo2/eleven.png);
}

.twelve-img {
  background-position: -36px -60px;
  background-image: url(assets/singolo2/twelve.png);
}

.about {
  padding-top: 27px;
  padding-left: 40px;
  padding-right: 40px;
  height: 701px;
  flex-direction: column;
  background-color: #f2f2f2;
  color: #666d89;
}

.about h1 {
  padding-bottom: 0px;
  font-family: "Lato", "Black";
  font-size: 30px;
  font-weight: 900;
  line-height: 1.7;
}

.about p {
  margin-top: -15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 940px;
  font-family: "Lato","Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  text-align: justify;
  color: #767e9e;
}

.about-pictures {
  margin-top: 45px;
  width: 960px;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
}

.avatar1 {
  width: 300px;
}

.avatar2 {
  margin-left: 19px;
  width: 300px;
}

.avatar3 {
  margin-left: 21px;
  width: 300px;
}

.about-img {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.about h2 {
  margin-top: 11px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-family: "Lato", "Black";
  font-size: 18px;
  font-weight: 900;
  line-height: 1.7;
  color:#666d89;
}

p.person-descr {
  margin-top: 4px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 300px;
  height: 42px;
  overflow: hidden;
  font-family: "Lato", "Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.75;
  text-align: justify;
  white-space: normal;
  text-overflow: ellipsis;
  color: #767e9e;
}

.about ul.social-networks {
  margin: 0px;
  margin-top: 38px;
  margin-left: -3px;
  padding: 0px;
  display: inline-flex;
  list-style-type: none;
}

.about li.social-icon {
  margin-top: -19px;
  margin-left: 0px;
  margin-right: 5px;
  padding-right: 0px;
  padding-left: 0px;
  width: 36px;
  height: 37px;
  overflow: hidden;
}

.facebook {
  background-position: 2px 2px;
  background-image: url(assets/singolo2/social-icon.svg);
}

.facebook:hover {
  background-position: 2px 38px;
  background-image: url(assets/singolo2/social-icon.svg)
}

.google {
  background-position: 118px 2px;
  background-image: url(assets/singolo2/social-icon.svg);
}

.google:hover {
  background-position: 118px 38px;
  background-image: url(assets/singolo2/social-icon.svg);
}

.twitter {
  background-position: 77px 2px;
  background-image: url(assets/singolo2/social-icon.svg);
}

.twitter:hover {
  background-position: 77px 38px;
  background-image: url(assets/singolo2/social-icon.svg);
}

.linkedln {
  background-position: 36px 2px;
  background-image: url(assets/singolo2/social-icon.svg);
}

.linkedln:hover {
  background-position: 35px 38px;
  background-image: url(assets/singolo2/social-icon.svg);
}

section.quote {
  margin: 0px;
  padding: 36px 40px 0px;
  height: 612px;
  flex-direction: column;
  background-color: #f06c64;
  color: #f0d8d9;
}

.quote h1 {
  margin-top: 16px;
  margin-bottom: 0px;
  padding: 0px;
  font-family: "Lato", "Black";
  font-size: 30px;
  font-weight: 800;
  line-height: 1.7;
}

.quote p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
  font-family: "Lato", "Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  text-align: justify;
}

div.quote-body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

form {
  margin-top: 44px;
  width: 620px;
}

input {
  margin-bottom: 16px;
  padding-top: 0px;
  padding-left: 14px;
  width: 605px;
  height: 37px;
  font-family: "Lato","Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  border: 0px;
  border-radius: 5px;
  background-color: #d6564f;
}

input::placeholder {
  font-family: "Lato","Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  color: #f48c8f;
}

input[type="submit"] {
  margin: 10px 0px;
  padding: 0px;
  width: 100px;
  color: #f0d8d9;
  border: 1px solid rgb(117, 17, 17);
}

input:invalid:not(:placeholder-shown) {
  border: 1px solid rgb(117, 17, 17);
}

input:valid:not(:placeholder-shown) {
  border: 1px solid rgb(17, 117, 70);
}

textarea {
  padding-top: 8px;
  padding-left: 14px;
  width: 603px;
  height: 192px;
  resize: none;
  font-family: "Lato","Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  border: 0px;
  border-radius: 5px;
  background-color: #d6564f;
}

textarea::placeholder {
  font-family: "Lato","Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 1.7;
  color: #f48c8f;
}

input[type="submit"] {
  margin: 10px 0px;
  padding: 0px;
  width: 100px;
  color: #f0d8d9;
}

input[type="submit"]:valid {
  border: none;
}

input[type="submit"]:hover {
  background-color: #79312d;
}

div.contacts {
  margin: 42px 40px auto 21px;
  width: 300px;
}

.quote h2 {
  margin: 0px;
  padding: 0px;
  font-family: "Lato","Black";
  font-size: 18px;
  font-weight: 700;
}

.contacts p {
  margin-top: 8px;
  width: 300px;
  height: 88px;
  overflow: hidden;
  font-family:"Lato","Ragular";
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: justify;
  white-space: normal;
  text-overflow: ellipsis;
}

.contacts-info {
  display: flex;
  align-items: flex-start;
}

.contacts-logo {
  margin: 0px;
  padding: 0px 8px 0px 0px;
  width: 15px;
  height: 17px;
  background-image: url(assets/singolo3/contacts-logo.png);
  background-repeat: no-repeat;
}

.location {
  margin-top: 20px;
  font-family:"Lato","Ragular";
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.location .contacts-logo {
  background-position: -2px 3px;
}

a {
  margin: -1px 0px 1px;
  font-family:"Lato","Ragular";
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: #f0d8d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tel .contacts-logo {
  background-position: -2px -19px;
}

.email .contacts-logo {
  background-position: -2px -41px;
}

footer {
  height: 76px;
  margin: 0px;
  position: relative;
  top: 95px;
  font-family:"Lato","Ragular";
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  background-color: #2d303a;
  color: #666d89;
  display: flex;
  justify-content: space-between;
}

footer p {
  margin: 27px auto auto 41px;
}

footer ul.social-networks {
  margin: 36px 32px 0px 0px;
  padding: 0px;
  display: inline-flex;
  list-style-type: none;
}

footer li.social-icon {
  margin-top: -19px;
  margin-left: 0px;
  margin-right: 5px;
  padding-right: 0px;
  padding-left: 0px;
  width: 36px;
  height: 37px;
  overflow: hidden;
}

